@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Work Sans", sans-serif;;
}



/* shared style */

.btn {
  padding: 18px 35px;
  color: white;
  border-radius: 5px;
  background-color: #FD6E0A;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.main {
  width: 1140px;
  margin: 0 auto;
  
}

.bg{
  background-color: #FFF8F3;
}

.bold {
  font-weight: bold;
}
/* nav bar */
header{
  background-color: #FFF8F3;
  background-image: url('../images/developer.png') , url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center left 50px, bottom right;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 230px;
  padding: 50px 0;
}


.logo h2 {
  font-size: 45px;
  
}

.logo span {
  color: #FD6E0A;
}
.nav_bar ul {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav_bar li {
list-style: none;
}

.nav_bar li a {
  text-decoration: none;
  color: #474747;
}

.menu {
  display: none;
}
/* Hero Section */


.btn_hero {
  padding: 20px 18px;
  display: flex;
  align-items: center;
}

.hero_btn2 {
  background-color: #FFF8F3;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  padding: 20px 25px;
  display: flex;
  align-items: center;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
 

svg {
 margin-right: 10px;
}

.hero_text {
 display: flex;
 flex-direction: column;
 gap: 35px;
}

.hero_section {
  margin: 50px 48px 180px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_img img{
 width: 100%;
 height: auto;
}

.hero_text h3 {
  font-size: 45px;
  font-weight: 500;
  color: #474747;
}

.hero_text h1 {
  font-size: 85px;
  font-weight: bold;

}
.hero_text p {
  width: 600px;
}


/* about section  */
.about {
  max-width: 1140px;
  max-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF8F3;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 7px;
}
.about-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 130px 155px;
  padding: 20px 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 9px;
}

.about-content h2 {
  font-size: 35px;
  font-weight: bold;
}

.about-content .about-para {
  font-size: 18px;
  color: #757575;
  font-weight: 400;

}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.info-container p {
  font-size: 20px;
}

/* skills section */

.tech-skills {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
}

.skil-text {
  text-align: center;
  line-height: 30px;
}

.skil-text h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;

}

.skil-text p {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.skill-boxs {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  padding: 30px;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.skill-boxs h3 {
  font-size: 20;
  font-weight: bold;
}

.skill-boxs p {
  font-size: 16px;
  color: #757575;
  font-weight: 400;

}


/* resume section */

.resume-section h2 {
 color:rgb(24, 24, 24);
 font-size: 35px;
 font-weight: 700;
}

.resume h3 {
  color: rgb(71, 71, 71);
font-size: 30px;
font-weight: 700;
}

.resume h4 {
  color: rgb(71, 71, 71);

font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}

.resume h5 {
  color: rgb(117, 117, 117);
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}

.resume p {
  font-size: 16px;
font-weight: 400;
color:  rgb(71, 71, 71);
}
.resume-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
}
.resume-container {
  display: flex;
  gap: 100px;
}

.resume-section h2 {
  margin-bottom: 120px;
  text-align: center;
}

.resume h4 {
  margin-top:30px ;
}

.resume p {
  margin-bottom: 30px;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 113px;
}

/* Fotter  */

.footer-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px 0px;
}

.title-icons h3 {
  color: rgb(24, 24, 24);
 margin-bottom: 20px;
font-size: 35px;
font-weight: 700;

}

.title-icons p {
  color: rgb(71, 71, 71);
line-height: 28px;
font-size: 16px;
font-weight: 400;
margin-bottom: 25px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.inputs h3 {
  color: rgb(24, 24, 24);
 margin-bottom: 28px;
font-size: 35px;
font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  width: 461px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
}

textarea {
  outline: none;
  width: 461px;
  padding-top: 18px;
  padding-bottom: 134px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;

}